<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data + Spring Security REST</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
</head>
<body>

Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
<form th:action="@{/logout}" method="POST">
    <input class="btn btn-primary" type="submit" value="Logout"/>
</form>

<div id="react"></div>

<script src="../static/built/bundle.js"></script>

</body>
</html>